<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <p>Mercado Recomendado</p>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Informe o usuário e senha</p>

        <form (ngSubmit)="logar()">
          <div class="input-group mb-3">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" [(ngModel)] = "login.usuario">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Password" [(ngModel)] = "login.senha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

