<div class="container">
    <form action="">
        <div class="row">
            <div class="form-group col-md-3 offset-md-4">
                <label for="lbUser">Usuário</label>
                <input type="text" class="form-control" name="user" id="user">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 offset-md-4">
                <label for="lbPassword">Senha</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-block col-md-3 offset-md-4">Login</button>
    </form>
</div>

