<app-menu-lateral></app-menu-lateral>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
     <div class="row">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cadastrar compras</h3>
          </div>
          <form>
            <div class="card-body row">
              <div class="col-md-3 form-group">
                <label for="lbNomeProduto">Produto</label>
                <input type="text" class="form-control" id="nomeProduto" name="nomeProduto">
              </div>

              <div class="col-md-2 form-group">
                <label for="lbPrecoProduto">Preço</label>
                <input type="number" class="form-control" id="precoProduto" name="precoProduto">
              </div>

              <div class="col-md-3 form-group">
                <label>Nome Produto</label>
                <select class="form-control select2" name="nomeProdutoSelecionado" id="nomeProdutoSelecionado" style="width: 100%;">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>

              <div class="col-md-2 form-check" style="margin-left: 12px;">
                <br>
                <br>
                <input type="checkbox" class="form-check-input" id="teveDesconto" name="teveDesconto">
                <label class="form-check-label" for="lbTeveDesconto">Teve Desconto</label>
              </div>
            </div>

            <div class="col-md-2 form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </form>
        </div>
     </div>
    </div>
  </section>
</div>

